.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px;
  max-width: 1200px;
  margin: 40px auto;
}

.contact .card {
  color: #333;
  padding: 20px 50px;
  border-radius: 20pxpx;
  -webkit-box-shadow: -12px 9px 15px -3px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: -12px 9px 15px -3px rgba(0, 0, 0, 0.48);
  box-shadow: -12px 9px 15px -3px rgba(0, 0, 0, 0.48);
  transition: all 0.3s ease;
  position: relative;
}

.contact .card:hover {
  transform: rotate(3deg);
}

.contact .card p {
  display: inline-block;
}

.contact .card.linkedin {
  color: aliceblue;
  background: rgb(31, 21, 32);
  background: linear-gradient(90deg, rgba(31, 21, 32, 1) 0%, rgba(0, 194, 255, 0.692612079011292) 76%);
}

.contact .card.github {
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 23, 145, 1) 45%);
}

.contact .card.codepen {
  color: aliceblue;
  background: rgb(31, 21, 32);
  background: linear-gradient(90deg, rgba(31, 21, 32, 1) 0%, rgba(174, 0, 195, 1) 94%);
}
